.panel-wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #26914a;
    color: white;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37), 0 1.5px 4px 0 rgba(0, 0, 0, 0.781);
    /* border-radius: 32px; */

    backdrop-filter: blur(2px);

}

/* TascBar - pozycje */
.tascBar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255,255,255,0.41);
    z-index: 10;
    box-shadow: 0 6px 24px 0 rgba(0,0,0,0.22), 0 2px 8px 0 rgba(0,0,0,0.13);
   
    border: 1.5px solid rgba(0,0,0,0.10);
}
.tascbar-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    flex-direction: row;
    font-size: 26px;
}
.tascbar-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    flex-direction: row;
    font-size: 26px;
}
.tascbar-left {
    top: 0;
    left: 0;
    width: 32px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 26px;
}
.tascbar-right {
    top: 0;
    right: 0;
    width: 32px;
    height: 100%;
    flex-direction: column;
    font-size: 26px;
}




