
.app-window {
    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.2); */
    overflow: hidden;
    font-family: sans-serif;
    border: none;
}
.menu {
    display: flex;
    background: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    padding: 1px 0;
    min-width: 100px;
    z-index: 99999;
    height: 26px;
    font-size: 0.93em;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 0.93em;
    transition: background 0.2s;
    color: #222;
    position: relative;
    border-radius: 0;
    height: 22px;
}
.menu-item:hover, .submenu-item:hover {
    background: #f0f0f0;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    min-width: 100px;
    z-index: 99999;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}
.submenu-item {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 0.93em;
    transition: background 0.2s;
    color: #222;
    border-radius: 0 0 6px 6px;
    height: 22px;
}
.content {
    padding: 10px;
}
.maximized {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}